<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Список всех пользователей</title>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <h1 class="head1">ВСЕ ЗАКАЗЫ ИЗ НАШЕГО МАГАЗИНА</h1>
    <hr>

    <p class="head2">Заказы:</p>
    <tr th:each="y : ${list}">
        <td class="align-middle" th:text="${y.id}"></td>
        <td class="align-middle" th:text="${y.user.username}"></td>
        <td class="align-middle" th:text="${y.date}"></td>

        <p>-----------------</p>
    </tr>
</div>
<hr>
<form th:action="@{/user/ordersDetails}" method="post">
    <input type="number" name="id" placeholder="Подробности заказа..."/>
    <input  type="submit" value="Подробнее"/>
</form>


</body>
</html>

